<div class="title-group">
    <h2>Product List</h2>
</div>

<div class="items-group">

    <div *ngFor="let product of products; index as productId" class="item">

        <h3>
            <a [title]="product.name +'details'" [routerLink]="['/product' , productId]">
                {{ product.name }}
            </a>
        </h3>

        <div class="content">
            <p *ngIf="product.description">
                Description: {{ product.description }}
            </p>
        </div>

        <div class="button-group">
            <button (click)="share()" class="btn">Share</button>
            <app-product-alerts [product]="product" (notify)="onNotify()" *ngIf="product.price > 5000" class="btn">
            </app-product-alerts>
        </div>

    </div>

</div>
