<div class="title-group">
    <h2>Products</h2>
    <div>
        <label for=""> Search Product</label>
        <input type="text" (input)="searchInput($event.target.value)">
    </div>
</div>


<div fxLayout="row wrap" fxLayoutGap="20px">

    <mat-card class="product-card" fxLayout="column" fxFlex="0 1 420px" fxLayoutAlign="space-between"
        *ngFor="let product of filterProducts; index as productId">

        <h3>
            <a [title]="product.name +'details'" [routerLink]="['/product' , productId]">
                {{ product.name }}
            </a>
        </h3>

        <div>
            <p *ngIf="product.description">
                Description: {{ product.description }}
            </p>
        </div>

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
            <button mat-stroked-button color="primary" (click)="share(product.name)">Share</button>
            <app-product-alerts [product]="product" (notify)="onNotify($event)" *ngIf="product.price > 5000">
            </app-product-alerts>
        </div>

    </mat-card>

</div>
