.home {
    width:300px;
}

nav {
    width:100%;
    padding-right: 20px;
}
nav a {
    float:right;
}
h3{
    color:#fff;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
